In [1]:
import pandas as pd
import numpy as np

In [2]:
## Download the Data

In [3]:
df_crc=pd.read_csv("./CRC.csv")
df_crc["campus"]="crc"
df_carc=pd.read_csv("./CARC.csv")
df_carc["campus"]="carc"
df_cbzrc=pd.read_csv("./CBZRC.csv")
df_cbzrc["campus"]="cbzrc"
df_clc=pd.read_csv("./CLC.csv")
df_clc["campus"]="clc"
df_cvc=pd.read_csv("./CVC.csv")
df_cvc["campus"]="cvc"
df_evc=pd.read_csv("./EVC.csv")
df_evc["campus"]="evc"
df_irc=pd.read_csv("./IRC.csv")
df_irc["campus"]="irc"
df_smc=pd.read_csv("./SMC.csv")
df_smc["campus"]="smc"
df_src=pd.read_csv("./SRC.csv")
df_src["campus"]="src"
df_wvc=pd.read_csv("./WVC.csv")
df_wvc["campus"]="wvc"
df_main=pd.read_csv("./MAIN.csv")
df_main["campus"]="main"

## raw data

In [4]:
df_crc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 14 columns):
 #   Column                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                              --------------  -----
 0   Timestamp                                                                                                           58 non-null     object
 1   LAST NAME (ALL CAPS) - OPTIONAL                                                                                     17 non-null     object
 2   FIRST NAME (ALL CAPS)  - OPTIONAL                                                                                   12 non-null     object
 3   Did you pass the UPCA?                                                                                              58 non-null     object
 4   In which course did you pass? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS)        6 non-null      object
 5   My above course is my ___ choice.                                                                                   6 non-null      object
 6   In which campus?                                                                                                    6 non-null      object
 7   Is it your first campus choice?                                                                                     6 non-null      object
 8   Will you pursue UP?                                                                                                 6 non-null      object
 9   If not, then at what University do you plan to study?                                                               3 non-null      object
 10  In which course are you waitlisted? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS)  2 non-null      object
 11  In what campus?                                                                                                     2 non-null      object
 12  In what campus?.1                                                                                                   8 non-null      object
 13  campus                                                                                                              58 non-null     object
dtypes: object(14)
memory usage: 6.5+ KB

In [5]:
#cleaning main separately because they used a different format
df_main

,Timestamp,Email Address,UP College Admission Status (CAMPUS),UP College Admission Status (COURSE),"Accepted Campus (e.g. UPD, UPM, UPLB)","Accepted Course (e.g. BS Computer Science, BS Public Health, BS Psychology)",Concerns/Questions?,How many course choices did you indicate in your FORM 1 for your FIRST CHOICE campus?,How many course choices did you indicate in your FORM 1 for your SECOND CHOICE campus?,campus
0,7/15/2021 12:16:21,b21.jeremy.bansil@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPD,BS Food Technology,NaN,NaN,NaN,main
1,7/15/2021 12:16:22,b21.bethena.balanon@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPD,BS Chemical Engineering,None. God bless our batch ðŸ¥º,NaN,NaN,main
2,7/15/2021 12:16:32,b21.alex.gagalac@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPD,BS Molecular Biology and Biotechnology,NaN,NaN,NaN,main
3,7/15/2021 12:16:37,b21.harvey.tan@pshs.edu.ph,Accepted - First Choice,Accepted - Third Choice,UPD,BS Materials Engineering,NaN,NaN,NaN,main
4,7/15/2021 12:16:38,b21.eliana.regala@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPD,BS Psychology,Hugs to those who didn't pass <333,NaN,NaN,main
...,...,...,...,...,...,...,...,...,...,...
186,7/16/2021 9:41:06,b21.michelle.sanmateo@pshs.edu.ph,Not Accepted,NaN,NaN,NaN,NaN,4.0,4.0,main
187,7/16/2021 11:39:29,b21.kevin.tejada@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPM,BS Public Health,NaN,4.0,4.0,main
188,7/16/2021 18:29:34,b21.zairah.taloma@pshs.edu.ph,Accepted - First Choice,Accepted - Third Choice,UPD,BS Materials Engineering,NaN,4.0,4.0,main
189,7/16/2021 18:36:58,b21.bemas.cabida@pshs.edu.ph,Accepted - First Choice,Accepted - Second Choice,UPD,Electronics Engineering,NaN,4.0,3.0,main
190,7/16/2021 19:09:41,b21.ernestina.tagle@pshs.edu.ph,Not Accepted,NaN,NaN,NaN,NaN,4.0,4.0,main

In [6]:
df_main["UP College Admission Status (COURSE)"]

0       Accepted - First Choice
1       Accepted - First Choice
2       Accepted - First Choice
3       Accepted - Third Choice
4       Accepted - First Choice
                 ...
186                         NaN
187     Accepted - First Choice
188     Accepted - Third Choice
189    Accepted - Second Choice
190                         NaN
Name: UP College Admission Status (COURSE), Length: 191, dtype: object

In [7]:
def getCampusStatus(df):
    combined=df["UP College Admission Status (CAMPUS)"]
    return combined.split(" - ")[0]

In [8]:
def getCampusChoice(df):
    combined=df["UP College Admission Status (CAMPUS)"]
    split=combined.split(" - ")
    if(len(split)>1):
        return combined.split(" - ")[1]
    return np.nan

In [9]:
def getCourseChoice(df):
    if(df["UP College Admission Status (COURSE)"] is np.nan):
        return np.nan
    combined=df["UP College Admission Status (COURSE)"]
    return combined.split(" - ")[1]

In [10]:
df_main["Did you pass the UPCA? "]=df_main.apply(getCampusStatus,axis=1)
df_main["In which course did you pass? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS)"]=df_main["Accepted Course (e.g. BS Computer Science, BS Public Health, BS Psychology)"]
df_main["In which campus?"]=df_main["Accepted Campus (e.g. UPD, UPM, UPLB)"]
df_main["Is it your first campus choice?"]=df_main.apply(getCampusChoice,axis=1)
df_main["My above course is my ___ choice."]=df_main.apply(getCourseChoice,axis=1)
df_main

,Timestamp,Email Address,UP College Admission Status (CAMPUS),UP College Admission Status (COURSE),"Accepted Campus (e.g. UPD, UPM, UPLB)","Accepted Course (e.g. BS Computer Science, BS Public Health, BS Psychology)",Concerns/Questions?,How many course choices did you indicate in your FORM 1 for your FIRST CHOICE campus?,How many course choices did you indicate in your FORM 1 for your SECOND CHOICE campus?,campus,Did you pass the UPCA?,In which course did you pass? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS),In which campus?,Is it your first campus choice?,My above course is my ___ choice.
0,7/15/2021 12:16:21,b21.jeremy.bansil@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPD,BS Food Technology,NaN,NaN,NaN,main,Accepted,BS Food Technology,UPD,First Choice,First Choice
1,7/15/2021 12:16:22,b21.bethena.balanon@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPD,BS Chemical Engineering,None. God bless our batch ðŸ¥º,NaN,NaN,main,Accepted,BS Chemical Engineering,UPD,First Choice,First Choice
2,7/15/2021 12:16:32,b21.alex.gagalac@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPD,BS Molecular Biology and Biotechnology,NaN,NaN,NaN,main,Accepted,BS Molecular Biology and Biotechnology,UPD,First Choice,First Choice
3,7/15/2021 12:16:37,b21.harvey.tan@pshs.edu.ph,Accepted - First Choice,Accepted - Third Choice,UPD,BS Materials Engineering,NaN,NaN,NaN,main,Accepted,BS Materials Engineering,UPD,First Choice,Third Choice
4,7/15/2021 12:16:38,b21.eliana.regala@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPD,BS Psychology,Hugs to those who didn't pass <333,NaN,NaN,main,Accepted,BS Psychology,UPD,First Choice,First Choice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,7/16/2021 9:41:06,b21.michelle.sanmateo@pshs.edu.ph,Not Accepted,NaN,NaN,NaN,NaN,4.0,4.0,main,Not Accepted,NaN,NaN,NaN,NaN
187,7/16/2021 11:39:29,b21.kevin.tejada@pshs.edu.ph,Accepted - First Choice,Accepted - First Choice,UPM,BS Public Health,NaN,4.0,4.0,main,Accepted,BS Public Health,UPM,First Choice,First Choice
188,7/16/2021 18:29:34,b21.zairah.taloma@pshs.edu.ph,Accepted - First Choice,Accepted - Third Choice,UPD,BS Materials Engineering,NaN,4.0,4.0,main,Accepted,BS Materials Engineering,UPD,First Choice,Third Choice
189,7/16/2021 18:36:58,b21.bemas.cabida@pshs.edu.ph,Accepted - First Choice,Accepted - Second Choice,UPD,Electronics Engineering,NaN,4.0,3.0,main,Accepted,Electronics Engineering,UPD,First Choice,Second Choice
190,7/16/2021 19:09:41,b21.ernestina.tagle@pshs.edu.ph,Not Accepted,NaN,NaN,NaN,NaN,4.0,4.0,main,Not Accepted,NaN,NaN,NaN,NaN

In [11]:
#dropping the older columns that was replaced and other columns only present in the main data
df_main=df_main.drop(columns=["UP College Admission Status (CAMPUS)","UP College Admission Status (COURSE)","Accepted Campus (e.g. UPD, UPM, UPLB)",
                      "Accepted Course (e.g. BS Computer Science, BS Public Health, BS Psychology)","Email Address","How many course choices did you indicate in your FORM 1 for your FIRST CHOICE campus?",
                     "How many course choices did you indicate in your FORM 1 for your SECOND CHOICE campus?","Concerns/Questions?"])

In [12]:
df_main

,Timestamp,campus,Did you pass the UPCA?,In which course did you pass? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS),In which campus?,Is it your first campus choice?,My above course is my ___ choice.
0,7/15/2021 12:16:21,main,Accepted,BS Food Technology,UPD,First Choice,First Choice
1,7/15/2021 12:16:22,main,Accepted,BS Chemical Engineering,UPD,First Choice,First Choice
2,7/15/2021 12:16:32,main,Accepted,BS Molecular Biology and Biotechnology,UPD,First Choice,First Choice
3,7/15/2021 12:16:37,main,Accepted,BS Materials Engineering,UPD,First Choice,Third Choice
4,7/15/2021 12:16:38,main,Accepted,BS Psychology,UPD,First Choice,First Choice
...,...,...,...,...,...,...,...
186,7/16/2021 9:41:06,main,Not Accepted,NaN,NaN,NaN,NaN
187,7/16/2021 11:39:29,main,Accepted,BS Public Health,UPM,First Choice,First Choice
188,7/16/2021 18:29:34,main,Accepted,BS Materials Engineering,UPD,First Choice,Third Choice
189,7/16/2021 18:36:58,main,Accepted,Electronics Engineering,UPD,First Choice,Second Choice
190,7/16/2021 19:09:41,main,Not Accepted,NaN,NaN,NaN,NaN

In [13]:
#final dataframe by merging all the csv
df_raw=pd.concat([df_crc,df_cbzrc, df_clc,df_cvc,df_evc,df_carc,df_irc,df_smc,df_src,df_wvc,df_main])

In [14]:
#knowing df data
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 190
Data columns (total 24 columns):
 #   Column                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                              --------------  -----
 0   Timestamp                                                                                                           888 non-null    object
 1   LAST NAME (ALL CAPS) - OPTIONAL                                                                                     67 non-null     object
 2   FIRST NAME (ALL CAPS)  - OPTIONAL                                                                                   32 non-null     object
 3   Did you pass the UPCA?                                                                                              890 non-null    object
 4   In which course did you pass? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS)        407 non-null    object
 5   My above course is my ___ choice.                                                                                   404 non-null    object
 6   In which campus?                                                                                                    419 non-null    object
 7   Is it your first campus choice?                                                                                     425 non-null    object
 8   Will you pursue UP?                                                                                                 277 non-null    object
 9   If not, then at what University do you plan to study?                                                               96 non-null     object
 10  In which course are you waitlisted? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS)  17 non-null     object
 11  In what campus?                                                                                                     17 non-null     object
 12  In what campus?.1                                                                                                   77 non-null     object
 13  campus                                                                                                              891 non-null    object
 14  Email Address                                                                                                       221 non-null    object
 15  LAST NAME (ALL CAPS)                                                                                                312 non-null    object
 16  FIRST NAME (ALL CAPS)                                                                                               340 non-null    object
 17  LAST NAME (ALL CAPS)                                                                                                28 non-null     object
 18  LAST NAME - optional                                                                                                15 non-null     object
 19  FIRST NAME - optional                                                                                               11 non-null     object
 20  FIRST NAME (ALL CAPS) - OPTIONAL                                                                                    23 non-null     object
 21  Email address                                                                                                       90 non-null     object
 22  LAST NAME (ALL CAPS, OPTIONAL)                                                                                      13 non-null     object
 23  FIRST NAME (ALL CAPS, OPTIONAL)                                                                                     13 non-null     object
dtypes: object(24)
memory usage: 174.0+ KB

In [15]:
df_raw.describe()

,Timestamp,LAST NAME (ALL CAPS) - OPTIONAL,FIRST NAME (ALL CAPS) - OPTIONAL,Did you pass the UPCA?,In which course did you pass? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS),My above course is my ___ choice.,In which campus?,Is it your first campus choice?,Will you pursue UP?,"If not, then at what University do you plan to study?",...,Email Address,LAST NAME (ALL CAPS),FIRST NAME (ALL CAPS),LAST NAME (ALL CAPS),LAST NAME - optional,FIRST NAME - optional,FIRST NAME (ALL CAPS) - OPTIONAL,Email address,"LAST NAME (ALL CAPS, OPTIONAL)","FIRST NAME (ALL CAPS, OPTIONAL)"
count,888,67,32,890,407,404,419,425,277,96,...,221,312,340,28,15,11,23,90,13,13
unique,868,65,32,7,152,9,23,4,7,52,...,221,293,339,28,15,11,23,73,13,13
top,7/15/2021 20:20:58,MARTIN,DANIKA,No,BS COMPUTER SCIENCE,1st Degree,UP DILIMAN,Yes,yes,ADMU,...,pdleonoras@cbzrc.pshs.edu.ph,FLORES,CEDRIC,VILARAY,Caranzo,Mark Russell,LUCKY JENIÃ‘A,sjonyle@gmail.com,INSIGNE,FRANCINE
freq,2,2,1,337,22,174,111,174,85,15,...,1,3,2,1,1,1,1,18,1,1

In [16]:
df_raw.head()

,Timestamp,LAST NAME (ALL CAPS) - OPTIONAL,FIRST NAME (ALL CAPS) - OPTIONAL,Did you pass the UPCA?,In which course did you pass? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS),My above course is my ___ choice.,In which campus?,Is it your first campus choice?,Will you pursue UP?,"If not, then at what University do you plan to study?",...,Email Address,LAST NAME (ALL CAPS),FIRST NAME (ALL CAPS),LAST NAME (ALL CAPS),LAST NAME - optional,FIRST NAME - optional,FIRST NAME (ALL CAPS) - OPTIONAL,Email address,"LAST NAME (ALL CAPS, OPTIONAL)","FIRST NAME (ALL CAPS, OPTIONAL)"
0,7/15/2021 18:07:31,SOBERANO,DANIKA,No,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7/15/2021 18:07:43,RUIZ,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7/15/2021 18:07:46,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7/15/2021 18:07:49,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7/15/2021 18:08:09,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#count how many null values per column
df_raw.isna().sum().sort_values(ascending=False)

FIRST NAME - optional                                                                                                 880
FIRST NAME (ALL CAPS, OPTIONAL)                                                                                       878
LAST NAME (ALL CAPS, OPTIONAL)                                                                                        878
LAST NAME - optional                                                                                                  876
In which course are you waitlisted? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS)    874
In what campus?                                                                                                       874
FIRST NAME (ALL CAPS) - OPTIONAL                                                                                      868
LAST NAME (ALL CAPS)                                                                                                  863
FIRST NAME (ALL CAPS)  - OPTIONAL                                                                                     859
LAST NAME (ALL CAPS) - OPTIONAL                                                                                       824
In what campus?.1                                                                                                     814
Email address                                                                                                         801
If not, then at what University do you plan to study?                                                                 795
Email Address                                                                                                         670
Will you pursue UP?                                                                                                   614
LAST NAME (ALL CAPS)                                                                                                  579
FIRST NAME (ALL CAPS)                                                                                                 551
My above course is my ___ choice.                                                                                     487
In which course did you pass? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS)          484
In which campus?                                                                                                      472
Is it your first campus choice?                                                                                       466
Timestamp                                                                                                               3
Did you pass the UPCA?                                                                                                  1
campus                                                                                                                  0
dtype: int64

### dropping columns we dont like

In [18]:
df_drop=df_raw.drop(columns=['LAST NAME (ALL CAPS) ',"LAST NAME (ALL CAPS)","FIRST NAME - optional","LAST NAME - optional","FIRST NAME (ALL CAPS) - OPTIONAL","LAST NAME (ALL CAPS)","FIRST NAME (ALL CAPS)  - OPTIONAL",
                    "LAST NAME (ALL CAPS) - OPTIONAL","Email address","Email Address","LAST NAME (ALL CAPS)","FIRST NAME (ALL CAPS)","Timestamp",'LAST NAME (ALL CAPS, OPTIONAL)', 'FIRST NAME (ALL CAPS, OPTIONAL)'])

#count how many null values per column
df_drop.isna().sum().sort_values(ascending=False)

### renaming columns

In [19]:
df_drop.columns

Index(['Did you pass the UPCA? ',
       'In which course did you pass? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS)',
       'My above course is my ___ choice.', 'In which campus?',
       'Is it your first campus choice?', 'Will you pursue UP?',
       'If not, then at what University do you plan to study?',
       'In which course are you waitlisted? (kindy fill-in the exact name of the course as seen in the letter in ALL CAPS)',
       'In what campus?', 'In what campus?.1', 'campus'],
      dtype='object')

In [20]:
df_drop.columns=["app_status","pass_course","pass_courseDegreeChoice","pass_campus","pass_campusFirstChoice","pass_pursue","pass_otherUniversity","waitlist_course","waitlist_campus","dpwas_campus","campus"]

In [21]:
df_drop.columns

Index(['app_status', 'pass_course', 'pass_courseDegreeChoice', 'pass_campus',
       'pass_campusFirstChoice', 'pass_pursue', 'pass_otherUniversity',
       'waitlist_course', 'waitlist_campus', 'dpwas_campus', 'campus'],
      dtype='object')

## Cleaning rows

### App Status Cleaning

In [22]:
#initial status for values in status
df_drop.app_status.unique()

array(['No', 'Yes',
       'DPWAS (learn more at: https://www.reddit.com/r/peyups/comments/b8hqbl/help_what_is_dpwas/)',
       'Waitlisted', nan, 'DPWAS', 'Accepted', 'Not Accepted'],
      dtype=object)

In [23]:
#There is a nan value so it is time to remove them
df_drop=df_drop[df_drop["app_status"].notna()]

In [24]:
#Rename the DPWAS duplicate into just DPWAS
df_drop['app_status']=df_drop['app_status'].str.replace("DPWAS (learn more at: https://www.reddit.com/r/peyups/comments/b8hqbl/help_what_is_dpwas/)","DPWAS",regex=False)
df_drop['app_status']=df_drop['app_status'].str.replace("Not Accepted","No",regex=False)
df_drop['app_status']=df_drop['app_status'].str.replace("Accepted","Yes",regex=False)

In [25]:
#final status for values in status
df_drop.app_status.unique()

array(['No', 'Yes', 'DPWAS', 'Waitlisted'], dtype=object)

In [26]:
#Checking if nothing happened to the values
df_drop.app_status.value_counts()

Yes           405
No            380
DPWAS          88
Waitlisted     17
Name: app_status, dtype: int64

### Pass Course Cleaning

In [27]:
#intial status for values in pass course
df_drop.pass_course.unique()

array([nan, 'BS ARCHITECTURE',
       'UP LOS BANOS, BS AGRICULTURAL BIOTECHNOLOGY',
       'AGRICULTURAL BIOTECHNOLOGY', 'BS STATISTICS', 'BS ECONOMICS',
       'BS Biology', 'BS AGRICULTURAL AND BIOSYSTEMS ENGINEERING',
       'BS BIOLOGY', 'BS APPLIED PHYSICS', 'BS CHEMICAL ENGINEERING ',
       'BS NUTRITION', 'BS MATHEMATICS AND SCIENCE TEACHING',
       'BS COMPUTER ENGINEERING', 'BS PHYSICS', 'D VETERINARY MEDICINE',
       'BS MECHANICAL ENGINEERING ',
       'BS MOLECULAR BIOLOGY AND BIOTECHNOLOGY',
       'BS ELECTRONICS ENGINEERING', 'MECHANICAL ENGINEERING',
       'BS COMPUTER SCIENCE', 'BS CHEMICAL ENGINEERING', 'BS GEOLOGY',
       'BS BIOCHEMISTRY', 'BS CHemistry',
       'BS AGRIBUSINESS MANAGEMENT AND ENTREPRENEURSHIP', 'BS CHEMISTRY',
       'BS Industrial Engineering', 'BS OCCUPATIONAL THERAPY',
       'BS Electrical Engineering', 'BS CIVIL ENGINEERING',
       'BS PUBLIC HEALTH', 'BS MECHANICAL ENGINEERING',
       'BS PHARMACEUTICAL SCIENCES', 'ELECTRONICS ENGINEERING',
       'Computer Science', 'BS GEOGRAPHY', 'BS ELECTRONICS ENGINEERING ',
       'BS MATHEMATICS', 'BS AGRICULTURAL BIOTECHNOLOGY',
       'BS METALLURGICAL ENGINEERING', 'BS FOOD SCIENCE AND TECHNOLOGY',
       'VETERINARY MEDICINE (8TH CHOICE)', 'BS MATERIALS ENGINEERING',
       'BS FAMILY LIFE AND CHILD DEVELOPMENT',
       'BS ELECTRICAL ENGINEERING', 'BS  - ELECTRONICS ENGINEERING',
       'BS FISHERIES', 'BS GEODETIC ENGINEERING',
       'BACHELOR OF SCIENCE IN BIOLOGY', 'BS CLOTHING TECHNOLOGY',
       'BS FOOD TECHNOLOGY', 'BS INDUSTRIAL ENGINEERING', 'BS PSYCHOLOGY',
       'BS Food Technology ', 'BS PHARMACEUTICAL SCIENCES ',
       'BS AGRICULTURAL CHEMISTRY', 'BS HOME ECONOMICS',
       'BS HUMAN ECOLOGY', 'BA POLITICAL SCIENCE',
       'BS Metallurgical Engineering', 'VETERINARY MEDICINE',
       'PHARMACEUTICAL SCIENCES', 'BS PHARMACY',
       'UP LOS BANOS, BS APPLIED PHYSICS', 'No', 'COMPUTER SCIENCE',
       'BS Materials Engineering', 'BS PHARMACEUTICAL SCIENCES (5 YRS)',
       'AGRICULTURAL & BIOSYSTEMS ENGINEERING', ' BS COMPUTER SCIENCE',
       'BS Business Administration', 'BS - BIOLOGY',
       'BS FOOD TECHNOLOGY ', 'MATERIALS ENGINEERING',
       'Applied Mathematics', 'BS COMMUNITY NUTRITION', 'BS AGRICULTURE',
       'AGRICULTURE', 'Los BaÃ±os- Agricultural Chemistry',
       'BS Computer Science', 'Architecture', 'NUTRITION', 'B FINE ARTS',
       'CHEMICAL ENGINEERING', 'Biology', 'BS Computer Engineering ',
       'BS SPEECH PATHOLOGY', 'Pharmaceutical Sciences ',
       'BS Electronics Engineering', 'BS architecture', 'BS ANTHROPOLOGY',
       'BS ARCHITECTURE ', 'BS AGRIBUSINESS ECONOMICS',
       'BS AGRIBUSINESS ECONOMICS ', 'BS APPLIED MATHEMATICS',
       'FOOD SCIENCE', 'PUBLIC HEALTH', 'BS PHARMACY (5 YRS)',
       'FOOD TECHNOLOGY', 'BS PHYSICAL THERAPY', 'CHEMICAL ENGINEERING ',
       'OCCUPATIONAL THERAPY', 'Public Health', 'BS STATISTICS ',
       'BS AGRICULTURAL CHEMISTRY ', 'BS in Fisheries', 'BS Biochemistry',
       'BA PSYCHOLOGY', 'BS Chemistry',
       'BS AGRIBUSINESS MANAGEMENT AND ENTREPRENEURSHIP ', 'BS Bio',
       'ECONOMICS', 'BA FISHERIES', 'BS Food Technology',
       'BS Chemical Engineering',
       'BS Molecular Biology and Biotechnology ', 'BS Psychology',
       'BS Mathematics ', 'BS Mathematics', 'BS Economics',
       'BS Public Health', 'BS Applied Physics', 'Waitlisted - BS Bio',
       'BA Psychology - Applied Psychology',
       'BS Food Science and Technology',
       '(waitlisted) BS Agricultural and Biosystems Engineering',
       'BS Molecular Biology and Biotechnology', 'BS Civil Engineering',
       'BS Physics', 'BS Computer Engineering', 'BS Mech Engg',
       'BS Forestry', 'BS Agriculture', 'BS Pharmaceutical Sciences',
       'DPWAS for any available course in UP/D', 'BS Clothing Technology',
       'BS Agricultural Biotechnology ', 'BS Electrical Engg',
       'B Sports Science', 'BS MBB', 'BS MBB ', 'None', 'DPWAS',
       'BS Mechanical Engineering', 'BS Statistics', 'BS Nursing',
       'Occupational Therapy', 'BS Pharmacy', 'BS Civil Engineering ',
       'N/a', 'BS Business Administration & Accountancy',
       'Electronics Engineering'], dtype=object)

In [38]:

#Lets rename duplicating courses
df_drop["pass_course"]=df_drop["pass_course"].replace([" BS COMPUTER SCIENCE","Computer Science", "BS Computer Science","COMPUTER SCIENCE","BS COMPUTER SCIENCE "],"BS COMPUTER SCIENCE",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["(WAITLISTED) BS AGRICULTURAL AND BIOSYSTEMS ENGINEERING","AGRICULTURAL & BIOSYSTEMS ENGINEERING","BS AGRICULTURAL & BIOSYSTEMS ENGINEERING"],"BS AGRICULTURAL AND BIOSYSTEMS ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["AGRICULTURAL BIOTECHNOLOGY","BS AGRICULTURAL BIOTECHNOLOGY "],"BS AGRICULTURAL BIOTECHNOLOGY",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["AGRICULTURE"],"BS AGRICULTURE",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["Applied Mathematics"],"BS APPLIED MATHEMATICS",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["Architecture","BS ARCHITECTURE ","BS architecture"],"BS ARCHITECTURE",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["B FINE ARTS"],"BA FINE ARTS",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["WAITLISTED - BS BIO","BS Bio","BACHELOR OF SCIENCE IN BIOLOGY", "BS - BIOLOGY","Biology","BS Biology"],"BS BIOLOGY",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS  - ELECTRONICS ENGINEERING","BS ELECTRONICS ENGINEERING ","BS Electronics Engineering","ELECTRONICS ENGINEERING"],"BS ELECTRONICS ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["UP LOS BANOS, BS AGRICULTURAL BIOTECHNOLOGY"],"BS AGRICULTURAL BIOTECHNOLOGY",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["D VETERINARY MEDICINE","VETERINARY MEDICINE (8TH CHOICE)","VETERINARY MEDICINE"],"BS VETERINARY MEDICINE",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS CHemistry","BS Chemistry"],"BS CHEMISTRY",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS Industrial Engineering"],"BS INDUSTRIAL ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS ELECTRICAL ENGG","BS Electrical Engineering"],"BS ELECTRICAL ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["FOOD SCIENCE","FOOD TECHNOLOGY","BS FOOD SCIENCE AND TECHNOLOGY", "BS Food Technology","BS Food Technology "],"BS FOOD TECHNOLOGY",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS Metallurgical Engineering"],"BS METALLURGICAL ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS PHARMACY (5 YRS)","BS PHARMACY","BS PHARMACEUTICAL SCIENCES (5 YRS)","Pharmaceutical Sciences ","PHARMACEUTICAL SCIENCES","BS PHARMACEUTICAL SCIENCES "],"BS PHARMACEUTICAL SCIENCES",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["UP LOS BANOS, BS APPLIED PHYSICS"],"BS APPLIED PHYSICS",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS AGRICULTURAL CHEMISTRY ","Los BaÃ±os- Agricultural Chemistry"],"BS AGRICULTURAL CHEMISTRY",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS AGRIBUSINESS ECONOMICS "],"BS AGRIBUSINESS ECONOMICS",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS Computer Engineering "],"BS COMPUTER ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS BUSINESS ADMINISTRATION & ACCOUNTANCY","BS Business Administration"],"BS BUSINESS ADMINISTRATION",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS Materials Engineering","MATERIALS ENGINEERING"],"BS MATERIALS ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS MECH ENGG","MECHANICAL ENGINEERING","BS MECHANICAL ENGINEERING "],"BS MECHANICAL ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["CHEMICAL ENGINEERING","BS CHEMICAL ENGINEERING ","CHEMICAL ENGINEERING "],"BS CHEMICAL ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["NUTRITION"],"BS NUTRITION",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["PUBLIC HEALTH","Public Health"],"BS PUBLIC HEALTH",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["ECONOMICS"],"BS ECONOMICS",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS in Fisheries"],"BS FISHERIES",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["OCCUPATIONAL THERAPY"],"BS OCCUPATIONAL THERAPY",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS AGRIBUSINESS MANAGEMENT AND ENTREPRENEURSHIP "],"BS AGRIBUSINESS MANAGEMENT AND ENTREPRENEURSHIP",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS STATISTICS "],"BS STATISTICS",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS MATHEMATICS "],"BS MATHEMATICS",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BA PSYCHOLOGY - APPLIED PSYCHOLOGY"],"BA PSYCHOLOGY",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS CIVIL ENGINEERING "],"BS CIVIL ENGINEERING",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["BS MBB","BS MBB ","BS MOLECULAR BIOLOGY AND BIOTECHNOLOGY "],"BS MOLECULAR BIOLOGY AND BIOTECHNOLOGY",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["B SPORTS SCIENCE"],"BS SPORTS SCIENCE",regex=False)

#Upper Case All Courses
df_drop["pass_course"]=df_drop["pass_course"].str.upper()

In [39]:
#final status for values in pass_course
df_drop["pass_course"].unique()

array([nan, 'BS ARCHITECTURE', 'BS AGRICULTURAL BIOTECHNOLOGY',
       'BS STATISTICS', 'BS ECONOMICS', 'BS BIOLOGY',
       'BS AGRICULTURAL AND BIOSYSTEMS ENGINEERING', 'BS APPLIED PHYSICS',
       'BS CHEMICAL ENGINEERING', 'BS NUTRITION',
       'BS MATHEMATICS AND SCIENCE TEACHING', 'BS COMPUTER ENGINEERING',
       'BS PHYSICS', 'BS VETERINARY MEDICINE',
       'BS MECHANICAL ENGINEERING',
       'BS MOLECULAR BIOLOGY AND BIOTECHNOLOGY',
       'BS ELECTRONICS ENGINEERING', 'BS COMPUTER SCIENCE', 'BS GEOLOGY',
       'BS BIOCHEMISTRY', 'BS CHEMISTRY',
       'BS AGRIBUSINESS MANAGEMENT AND ENTREPRENEURSHIP',
       'BS INDUSTRIAL ENGINEERING', 'BS OCCUPATIONAL THERAPY',
       'BS ELECTRICAL ENGINEERING', 'BS CIVIL ENGINEERING',
       'BS PUBLIC HEALTH', 'BS PHARMACEUTICAL SCIENCES', 'BS GEOGRAPHY',
       'BS MATHEMATICS', 'BS METALLURGICAL ENGINEERING',
       'BS FOOD TECHNOLOGY', 'BS MATERIALS ENGINEERING',
       'BS FAMILY LIFE AND CHILD DEVELOPMENT', 'BS FISHERIES',
       'BS GEODETIC ENGINEERING', 'BS CLOTHING TECHNOLOGY',
       'BS PSYCHOLOGY', 'BS AGRICULTURAL CHEMISTRY', 'BS HOME ECONOMICS',
       'BS HUMAN ECOLOGY', 'BA POLITICAL SCIENCE', 'NO',
       'BS BUSINESS ADMINISTRATION', 'BS FOOD TECHNOLOGY ',
       'BS APPLIED MATHEMATICS', 'BS COMMUNITY NUTRITION',
       'BS AGRICULTURE', 'BA FINE ARTS', 'BS SPEECH PATHOLOGY',
       'BS ANTHROPOLOGY', 'BS AGRIBUSINESS ECONOMICS',
       'BS PHYSICAL THERAPY', 'BA PSYCHOLOGY', 'BA FISHERIES',
       'BS FORESTRY', 'DPWAS FOR ANY AVAILABLE COURSE IN UP/D',
       'BS SPORTS SCIENCE', 'NONE', 'DPWAS', 'BS NURSING', 'N/A'],
      dtype=object)

In [40]:
#checking that nothing with wrong in data
df_drop["pass_course"].value_counts()

BS BIOLOGY                 37
BS COMPUTER SCIENCE        36
BS CHEMICAL ENGINEERING    29
BS FOOD TECHNOLOGY         24
BS PUBLIC HEALTH           23
                           ..
BA FINE ARTS                1
BS HOME ECONOMICS           1
BS HUMAN ECOLOGY            1
BA POLITICAL SCIENCE        1
N/A                         1
Name: pass_course, Length: 61, dtype: int64

### Pass Course Degree Choice Cleaning

In [41]:
#initial status for pass_course
df_drop["pass_courseDegreeChoice"].unique()

array([nan, '1st Degree', '4th Degree', '3rd Degree', '5th Degree',
       '2nd Degree', 'First Choice', 'Third Choice', 'Fourth Choice',
       'Second Choice'], dtype=object)

In [42]:
#Rename Columns
df_drop["pass_course"]=df_drop["pass_course"].replace(["First Choice"],"1st Degree",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["Second Choice"],"2nd Degree",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["Third Choice"],"3rd Degree",regex=False)
df_drop["pass_course"]=df_drop["pass_course"].replace(["Fourth Choice"],"4th Degree",regex=False)

### Pass Campus Cleaning

In [43]:
#initial status of pass_campus
df_drop["pass_campus"].unique()

array([nan, 'UP MINDANAO', 'UP LOS BANOS', 'UP ILOILO', 'UP VISAYAS',
       'UP DILIMAN', 'UP MANILA', 'UP BAGUIO', 'Tacloban', 'TACLOBAN',
       'UP TACLOBAN', 'BAGUIO', 'UP VISAYAS-ILOILO', 'UP Cebu', 'UPD',
       'UPM', 'UPLB', 'UPDEPP', 'UP Diliman', 'Los Banos', 'UP Los Banos',
       'None', 'UPB', 'N/a'], dtype=object)

In [46]:
#replacing satellite campuses with their autonomous campus
df_drop["pass_campus"]=df_drop["pass_campus"].replace(["UPV","UP VISAYAS-ILOILO","UP ILOILO","Tacloban","TACLOBAN","UP TACLOBAN"],"UP VISAYAS", regex=False)
df_drop["pass_campus"]=df_drop["pass_campus"].replace(["BAGUIO"],"UP BAGUIO", regex=False)
df_drop["pass_campus"]=df_drop["pass_campus"].replace(["UPD","UPDEPP","UP Diliman"],"UP DILIMAN", regex=False)
df_drop["pass_campus"]=df_drop["pass_campus"].replace(["UPM"],"UP MANILA", regex=False)
df_drop["pass_campus"]=df_drop["pass_campus"].replace(["UP Los Banos","Los Banos","UPB"],"UP LOS BANOS", regex=False)

In [47]:
#final status of pass_campus
df_drop["pass_campus"].unique()

array([nan, 'UP MINDANAO', 'UP LOS BANOS', 'UP VISAYAS', 'UP DILIMAN',
       'UP MANILA', 'UP BAGUIO', 'UP CEBU', 'UPLB', 'None', 'N/a'],
      dtype=object)

In [48]:
#checking that data is fine
df_drop["pass_campus"].value_counts()

UP DILIMAN      208
UP LOS BANOS     60
UP MANILA        55
UP VISAYAS       51
UPLB             18
UP MINDANAO      15
UP BAGUIO         8
None              2
UP CEBU           1
N/a               1
Name: pass_campus, dtype: int64

### Pass Campus First Choice Cleaning

In [50]:
#initial status for pass_campusFirstChoice
df_drop.pass_campusFirstChoice.unique()

array([nan, 'No', 'Yes', 'First Choice', 'Second Choice'], dtype=object)

In [51]:
#renaming duplicate data
df_drop["pass_campusFirstChoice"]=df_drop["pass_campusFirstChoice"].str.replace("First Choice","Yes")
df_drop["pass_campusFirstChoice"]=df_drop["pass_campusFirstChoice"].str.replace("Second Choice","No")

In [53]:
#final status for pass_campusFirstChoice
df_drop.pass_campusFirstChoice.unique()

array([nan, 'No', 'Yes'], dtype=object)

### Pass Pursue Cleaning

In [54]:
#initial status for pass pursue
df_drop.pass_pursue.unique()

array([nan, 'yes', 'no', 'not sure', 'Yes', 'Unsure', 'No', 'Not sure'],
      dtype=object)

In [55]:
#renaming duplicate data
df_drop["pass_pursue"]=df_drop["pass_pursue"].replace(["Yes"],"yes",regex=False)
df_drop["pass_pursue"]=df_drop["pass_pursue"].replace(["No"],"no",regex=False)
df_drop["pass_pursue"]=df_drop["pass_pursue"].replace(["Unsure","Not sure"],"not sure",regex=False)

In [56]:
#final status for pass pursue
df_drop.pass_pursue.unique()

array([nan, 'yes', 'no', 'not sure'], dtype=object)

### Pass Other University Cleaning

In [57]:
df_drop.columns

Index(['app_status', 'pass_course', 'pass_courseDegreeChoice', 'pass_campus',
       'pass_campusFirstChoice', 'pass_pursue', 'pass_otherUniversity',
       'waitlist_course', 'waitlist_campus', 'dpwas_campus', 'campus'],
      dtype='object')

In [58]:
df_drop["pass_otherUniversity"].unique()

array([nan, 'dlsu', 'ADMU', 'DE LA SALLE UNIVERSITY or VELEZ COLLEGE',
       'PHILIPPINE STATE COLLEGE OF AERONAUTICS',
       'Ateneo de Manila University', 'Ateneo De Manila University',
       'DLSU', 'De La Salle University', 'University of Santo Tomas',
       'Maybe Ateneo', 'AUF (Angeles University Foundation)',
       'University of Santo Tomas (UST)', 'IDK', 'dlsu maybe?',
       'NOT SURE', '--', 'Visayas State University', 'DLSU Manila',
       'admu', 'La Salle', 'De La Salle University (DLSU)',
       'DLSU, Velez College',
       'Philippine State College of Aeronautics(if admitted)',
       "I will pursue UP if they allow me to transfer to UPB Com Sci. If they don't allow the transfer and I don't pass on the DOST Scholarship, I will pursue my course and campus. If they don't allow the transfer but I pass the DOST Scholarship, I will go to SLU to study Electrical Engineering.  ",
       'SAINT LOUIS UNIVERSITY BAGUIO CITY', 'MAPUA', 'none',
       'SLU BAGUIO', 'UST', 'N/a', 'UST ', 'MSU-IIT',
       'Ateneo de Davao University', 'Ateneo de Davao University ',
       'Malayan Colleges of Mindanao', 'N/A ', 'SILLIMAN UNIVERSITY',
       'Malayan College Mindanao (MCM)', 'Most probably MSU IIT', 'WVSU',
       'Iâ€™m not sure yet', 'ATENEO DE MANILA UNIVERSITY', 'Gap year <3',
       'DLS-CSB', 'Maritime Academy of Asia and the Pacific',
       'Universiy of Santo Thomas', 'Ateneo de Manila University ',
       'De La Salle University - Laguna Campus', 'DLSU Laguna',
       'Western Visayas State University', 'CPU', 'ISAT U'], dtype=object)

In [59]:
#remove repeating responses
df_drop["pass_otherUniversity"]=df_drop["pass_otherUniversity"].replace(["dlsu","DE LA SALLE UNIVERSITY or VELEZ COLLEGE","DLSU","De La Salle University","dlsu maybe?","DLSU Manila",
                                                                        "La Salle","De La Salle University (DLSU)","DLSU, Velez College"],"DE LA SALLE UNIVERSITY",regex=False)
df_drop["pass_otherUniversity"]=df_drop["pass_otherUniversity"].replace(["ADMU","Ateneo de Manila University","Ateneo De Manila University","Maybe Ateneo","admu"],"ATENEO DE MANILA UNIVERSITY",regex=False)

### Waitlist Course Cleaning

In [60]:
#intial status of waitlist course
df_drop["waitlist_course"].unique()

array([nan, 'BS APPLIED MATHEMATICS', 'BS BIOLOGY', 'BS BIOCHEMISTRY',
       'BS SPEECH PATHOLOGY', 'BACHELOR OF SCIENCE IN BIOLOGY',
       'BS PUBLIC HEALTH', 'BS Math', 'FOOD TECH',
       'BS PHARMACEUTICAL SCIENCES', 'BS CHEMISTRY', 'BS FOOD TECHNOLOGY',
       'BS Applied Physics', 'BA PSYCHOLOGY'], dtype=object)

In [61]:
#removing some duplicates
df_drop["waitlist_course"]=df_drop["waitlist_course"].replace(["FOOD TECH"],"BS FOOD TECHNOLOGY")
df_drop["waitlist_course"]=df_drop["waitlist_course"].replace(["BACHELOR OF SCIENCE IN BIOLOGY"],"BS BIOLOGY")
df_drop["waitlist_course"]=df_drop["waitlist_course"].replace(["BS Math"],"BS MATH")
df_drop["waitlist_course"]=df_drop["waitlist_course"].replace(["BS Applied Physics"],"BS APPLIED PHYSICS")

In [62]:
#final status of waitlist course
df_drop["waitlist_course"].unique()

array([nan, 'BS APPLIED MATHEMATICS', 'BS BIOLOGY', 'BS BIOCHEMISTRY',
       'BS SPEECH PATHOLOGY', 'BS PUBLIC HEALTH', 'BS MATH',
       'BS FOOD TECHNOLOGY', 'BS PHARMACEUTICAL SCIENCES', 'BS CHEMISTRY',
       'BS APPLIED PHYSICS', 'BA PSYCHOLOGY'], dtype=object)

### Waitlist Course Cleaning

In [63]:
df_drop.columns

Index(['app_status', 'pass_course', 'pass_courseDegreeChoice', 'pass_campus',
       'pass_campusFirstChoice', 'pass_pursue', 'pass_otherUniversity',
       'waitlist_course', 'waitlist_campus', 'dpwas_campus', 'campus'],
      dtype='object')

In [64]:
#intial status of waitlist campus, already clean
df_drop["waitlist_campus"].unique()

array([nan, 'UP MINDANAO', 'UP CEBU', 'UP MANILA', 'UP VISAYAS',
       'UP BAGUIO', 'UP LOS BANOS'], dtype=object)

### Dpwas Course Cleaning

In [65]:
df_drop.columns

Index(['app_status', 'pass_course', 'pass_courseDegreeChoice', 'pass_campus',
       'pass_campusFirstChoice', 'pass_pursue', 'pass_otherUniversity',
       'waitlist_course', 'waitlist_campus', 'dpwas_campus', 'campus'],
      dtype='object')

In [66]:
#intial status of waitlist campus, already clean
df_drop["dpwas_campus"].unique()

array([nan, 'UP VISAYAS', 'UP ILOILO', 'UP MINDANAO', 'UP LOS BANOS',
       'UP DILIMAN', 'UP MANILA', 'UP BAGUIO'], dtype=object)

In [67]:
## Saving Cleaned dataframe to CSV

In [68]:
df_drop.to_csv("UPCA_cleaned.csv",index=False)